<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cdf</title>
    <link rel="stylesheet" href="/bootstrap-5.2.0-dist/css/bootstrap.min.css">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="shortcut icon" href="/img/IMG-20220915-WA0033.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/cdf.css">
</head>

<body>
    <div class="preloader is-active"> 
        <div class="preloader__wrap">
    
          <div class="spinner text-info"></div>
        </div>
    </div>
    <section>
        <nav class="navbar navbar-expand-lg navbar-light shadow  py-3"">
            <div class="container ">
                <a href="/admin/admins/" class="navbar-brand "
                    style="font-size: 40px; color: #afc4d6; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><strong>CDF</strong>
                    <span class="im"><img src="/img/IMG-20220915-WA0033.jpg" alt=""></span></a>
                <button class="navbar-toggler bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="nav">
                    <ul class="navbar-nav ms-auto navtext px-5">
                        <li class="nav-item ">
                            <a href="/admin/profile" class="nav-link" style="color: #afc4d6;"><strong>My Profile</strong></a>
                        </li>
                        <li class="nav-item ">
                            <a href="/admin/admins" class="nav-link" style="color: #afc4d6;"><strong>Admins</strong></a>
                        </li>
                        <li class="nav-item ">
                            <a href="/admin/clients" class="nav-link" style="color: #afc4d6;"><strong>Clients</strong></a>
                        </li>
                       
                        <li class="nav-item ">
                            <a href="/admin/galleries" class="nav-link" style="color: #afc4d6;"><strong>Galleries</strong></a>
                        </li>
                       
                        <li class="nav-item">
                            <a href="/admin/event" class="nav-link" style="color: #afc4d6;"><strong>Event</strong></a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/tickets/" class="nav-link" style="color: #afc4d6"><strong>Tickets</strong></a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/messages/" class="nav-link" style="color: #afc4d6"><strong>Messages</strong></a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/logout/" class="nav-link" style="color: #afc4d6"><strong>Sign Out</strong></a>
                        </li>
                       
                    </ul>
                </div>

            </div>
        </nav>
    </section>