<%- include('./includes/admin-header') %>
  <main id="main" class="main">

    <section class="section profile container">

        <!-- <div class="col-xl-8"> -->
          <div class="card">
            <div class="card-header">
                <a href="/admin/profile/"><i class="bi bi-arrow-left fa-2x"></i></a>
            </div>
          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <a href="/admin/profile/" class="nav-link">Profile</a>
                </li>

                <li class="nav-item">
                  <a href="/admin/edit-profile/" class="nav-link" >Edit Profile</a>
                </li>

                <li class="nav-item">
                  <a href="/admin/changeEmail/" class="nav-link">Change Email</a>
                </li>

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane show active fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form action="/admin//changePassword/" method="post">

                    <div class="row mb-3">
                      <label for="previous_Password" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="previous_password" type="password" class="form-control" id="previous_Password">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="password" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" class="form-control" id="password">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="confirm_Password" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="confirm_password" type="password" class="form-control" id="confirm_Password">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main>
    
<%- include('./includes/admin-footer') %>
