<%- include('./includes/admin-header') %>

  <main id="main" class="main">

    <section class="section profile container">
      <div class="card">
        <div class="card-header">
            <a href="/admin/profile/"><i class="bi bi-arrow-left fa-2x"></i></a>
        </div>

        <!-- <div class="col-xl-8"> -->

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <a href="/admin/profile/" class="nav-link">Profile</a>
                </li>

                <li class="nav-item">
                  <a href="/admin/edit-profile/" class="nav-link">Edit Profile</a>
                </li>

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-change-email">Change Email</button>
                </li>

                <li class="nav-item">
                  <a href="/admin/changePassword/" class="nav-link">Change Password</a>
                </li>

              </ul>
              <div class="tab-content pt-2">


                <div class="tab-pane show active fade pt-3" id="profile-change-email">

                  <!-- change email Form -->
                  <form action="/admin/changeEmail/" method="post">
                    <div class="row mb-3">
                        <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="email" type="email" class="form-control" id="email">
                        </div>
                      </div>
                    <div class="row mb-3">
                        <label for="password" class="col-md-4 col-lg-3 col-form-label">Password</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="password" type="password" class="form-control" id="password">
                        </div>
                      </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End change email Form -->

                </div>


              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main>
    
<%- include('./includes/admin-footer') %>
