<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/bootstrap-5.2.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/cdf.css">
  </head>
<body>
    
    <div class="preloader is-active">
        <div class="preloader__wrap">
    
          <div class="spinner text-info"></div>
        </div>
    </div>
    <main>
      <div class="container">
    
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
    
                <div class="d-flex justify-content-cente   py-4">
                  <a href="/" class="logo d-flex align-items-center w-auto">
                    <img src="/img/logo.png" alt="cdf picture">
                    <span class="d-none d-lg-block login-text">CDf</span>
                  </a>
                </div><!-- End Logo -->
    
                <div class="card mb-3">
    
                  <div class="card-body">
    
                    <div class="pt-4 pb-2">
                      <h5 class="card-title text-center pb-0 fs-4 dark2">Password assistance</h5>
                      <p class="small text-center">
                        <!-- <i class="bi bi-exclamation-circle me-3"  style="color: #012970;"></i> -->
                        Please enter the e-mail address associated with your Alusoft Mall account. We will send you a link to this e-mail address to reset your password.
                    </p>
                    </div>
    
                    <form action="" method="post" class="row g-3  needs-validation" novalidate>
    
                      <div class="col-12">
                        <label for="email" class="form-label">Enter your email address</label>
                           <input type="email" name="email" class="form-control" id="email" required>
                      </div>
                      <div class="col-12 text-center">
                        <button class="btn btn-primary" type="submit">RESET PASSWORD</button>
                      </div>
                      <div class="col-12 text-center mt-3">
                        <a href="/admin/login">RETURN TO LOGIN</a>
                      </div>
                    </form>
    
                  </div>
                </div>
    
                
    
              </div>
            </div>
          </div>
    
        </section>
    
      </div>
    </main>
</body>
</html>
<%- include('includes/admin-footer.ejs') %>