<%- include('./includes/header.ejs') %>
    <section class="home" id="home">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/IMG-20231014-WA0010.jpg" class="img-fluid">
                    <div class="carousel-caption fw-bold " style=" color: #d6e1eb;">
                        <h1 style="font-size: 70px; font-family: Chakra Petch,sans-serif;">NASLTES
                            Party</h1>
                        <p style="font-size: 30px; font-family: Chakra Petch,sans-serif;">Time to
                            Relax and Light Up the Night at Our Exclusive Get-Together and Award Party</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/img/IMG-20231014-WA0011.jpg" class="img-fluid">
                    <div class="carousel-caption fw-bold " style=" color: #d6e1eb;">
                        <h1 style="font-size: 70px; font-family: Chakra Petch,sans-serif;">NASLTES
                            Party</h1>
                        <p style="font-size: 30px; font-family: Chakra Petch,sans-serif;">Time to
                            Relax and Light Up the Night at Our Exclusive Get-Together and Award Party</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/img/IMG-20231014-WA0012.jpg" class="img-fluid">
                    <div class="carousel-caption fw-bold " style=" color: #d6e1eb;">
                        <h1 style="font-size: 70px; font-family: Chakra Petch,sans-serif;">NASLTES
                            Party</h1>
                        <p style="font-size: 30px; font-family: Chakra Petch,sans-serif;">Time to
                            Relax and Light Up the Night at Our Exclusive Get-Together and Award Party</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/img/IMG-20231014-WA0013.jpg" class="img-fluid">
                    <div class="carousel-caption fw-bold " style=" color: #d6e1eb;">
                        <h1 style="font-size: 70px; font-family: Chakra Petch,sans-serif;">
                            NASLTES
                            Party</h1>
                        <p style="font-size: 30px; font-family: Chakra Petch,sans-serif;">Time
                            to
                            Relax and Light Up the Night at Our Exclusive Get-Together and Award Party</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

        </div>

    </section>
    <section id="About">
        <div class="container mt-5 p-xl-5 ">
            <div class="text-center">
                <h2 class="fw-bold"
                    style="color: #1977cc; text-decoration: underline; text-decoration-color: brown; font-size: 50px; margin-bottom: 40px; font-family: Chakra Petch,sans-serif;">
                    About</h2>
            </div>
            <div class="row mt-xl-5 ">
                <div class="col-xl-6 col-sm-12  p-xl-5 mt-sm-0 p-sm-0">
                    <h2 class="head text-center mt-lg-0 mt-4"></h2>
                    <br>
                    <br>
                    <p class="about">
                        <span style="font-size: 25px;">Calling All <span style="font-family: Monoton,cursive;"> Science Lab Technologist, Class'25:</span> Let's Plan <span style="font-family: Monoton,cursive;">Our Epic
                                Get-Together Party!</span></span><br>
                        <hr>
                    </p>
                    <p class="fw-bold">
                        🎉 Come join us for a thrilling evening in the Department of Science Laboratory Technologist Class'25! Prepare yourself
                        for an incredible evening of music, dancing, and networking as we gather together to honour
                        innovation and creativity. Make connections with other scientific lab personnel and take
                        pleasure in a night of positive energy and enjoyable company. Mark the dates on your calendars
                        and get ready for a stylish party to not miss the thrill!🎊🥳 #Nasltes2023.
                    </p>
                    <p class="fw-bold">
                        For Enquires: <a href="tel:+2348122089800">08122089800</a> or <a href="mailto:apantakupaul2306@gmail.com">apantakupaul2306@gmail.com</a>
                    </p>
                </div>
                <div class="col-xl-6 col-sm-12  eve" style="margin-top: 90px;">
                    <img src="/img/IMG-20231014-WA0013.jpg" class="img-fluid rounded-3">
                </div>
            </div>
        </div>
    </section>
    <!-- Tickets -->
    <section id="Ticket">
        <div class="container mt-5 mb-5">
            <div class="text-center">
                <h2 class="fw-bold"
                    style="color: #1977cc; text-decoration: underline; text-decoration-color: brown; font-size: 40px; margin-bottom: 120px; font-family: Chakra Petch,sans-serif;">
                    Secure Your Ticket</h2>
            </div>
            <form action="/book/ticket/" method="post">
                <div class="row g-3">
                    <div class="col-xl-6">
                    <div class="form-floating  ">
                        <input type="text" class="form-control" id="full_name" placeholder="Full name" name="full_name">
                        <label for="full_name">Full Name</label>
                    </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-floating  ">
                            <input type="student_email" class="form-control" id="student_email" placeholder="Email" name="student_email">
                            <label for="student_email">Email</label>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-floating  ">
                            <input type="phone" class="form-control" id="phone" placeholder="Your name" name="phone">
                            <label for="phone">Phone Number</label>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-floating">
                            <select class="form-select" id="type" name="type">
                                <option>Select ticket type</option>
                                <option value="regular">Regular (1k)</option>
                            </select>
                            <label for="type" class="form-label">Ticket Type:</label>
                        </div>
                    </div>
                    <div class="mt-4 text-center">
                        <button type="submit" class="btn btn-primary"
                            style="border-radius: 23px; padding: 8px 30px;">Book Now</button>
                    </div>
                </div>

            </form>
        </div>
    </section>


            <%- include('./includes/footer.ejs') %>